<ion-header>
  <ion-toolbar>    
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openMessages()">
        <ion-icon color="dark" slot="icon-only" name="mail"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Teller</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  

  <ion-virtual-scroll [items]="posts$ | async" approxItemHeight="324px">
    <hw-post-card *virtualItem="let post" [post]="post"></hw-post-card>
  </ion-virtual-scroll>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="microphone"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>