<ion-header>
  <ion-toolbar>    
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="posts$ | async" approxItemHeight="200px">
    <ion-card *virtualItem="let post">      
      <ion-card-content>
        <div class="post-head">
          <ion-avatar slot="start" class="person-img">
            <ion-img src="https://beta.ionicframework.com/docs/content/component-preview-app/docs-www/assets/img/avatar-finn.png"></ion-img>
          </ion-avatar>
          <div class="person-info">
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>          
          </div>
        </div>
        <div class="post-content">

        </div>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>