<ion-header>
  <ion-toolbar>    
    <ion-title>Teller</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- [items]="posts$ | async" -->
  <ion-virtual-scroll [items]="posts$ | async" approxItemHeight="140px" approxFooterHeight="0px" approxHeaderHeight="0px">
    <ion-card *virtualItem="let post" class="post-wrapper">      
      <ion-card-content>
        <div class="post-head">
          <ion-avatar slot="start" class="person-img">
            <ion-img src="./assets/img/avatar-finn.png"></ion-img>
          </ion-avatar>
          <div class="person-info">
            <h2>{{post.creator}}</h2>
            <h3>{{post.description}}</h3>          
          </div>
        </div>
        <div class="post-content">

        </div>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>